.buySellWrapper {
    width:20%;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:center;
}

.buySellWrapper hr {
    width:100%;
    margin:0;
    border:2px solid white;
    border-radius:999px;
}

.buySellWrapper .buySell {
    width:95%;
    border-radius:10px;
    padding:30px 10px;
    background-color: #142132;
    box-shadow: 2px 2px 5px #242425;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:center;
}

.buySellWrapper .buySell h2 {
    font-family:'Fugaz One';
    font-size:2.1rem;
    border:3px solid white;
    border-radius:5px;
    background-color: #1b3046;
    padding: 5px 10px;
    width:100%;
}

.buySellWrapper .buySell h3 {
    margin:10px 0px 0px 0px;
    text-decoration: underline;
}

.buySellWrapper .buySell button {
    color: white;
    background: linear-gradient(to bottom right, mediumseagreen, transparent);
    border:2px solid white;
    border-radius: 15px;
    padding: 5px 15px;
    margin:5px 0px;
    min-width:75%;
    font-family: 'Fugaz One';
    font-size: 1.5rem;
    box-shadow: 4px 4px 5px #242425;
    opacity: 1;
    transition: all .2s;
}

.buySellWrapper .buySell button:hover {
    opacity: .7;
    transition: all .2s;
}

.buySellWrapper .buySell button:disabled {
    opacity: .7;
}

.buySellWrapper .buySell input {
    border:3px solid white;
    border-radius:5px;
    padding: 5px 10px;
    margin:10px 0px;
    background-color:transparent;
    color:white;
    box-shadow: 4px 4px 5px #242425;
    font-family:'Trebuchet MS';
    font-size:1.5rem;
    width: 50%;
    text-align:center;
    font-weight:bold;
}

.buySellWrapper .buySell input::-webkit-inner-spin-button, .buySell input::-webkit-outer-spin-button {
    display:none;
}

.buySellWrapper .buySell input[type=number] {
    -moz-appearance: textfield;
}

.buySellWrapper .buySell form {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    width:100%;
    margin: 5px 0px 0px 0px;
}

.buySellWrapper .buySell form hr {
    width: 80%;
    margin:5px;
}

.buySellWrapper .exchangeInfo {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:90%;
    background-color: #182a3f;
    border-radius:0px 0px 10px 10px;
    font-size:1.4rem;
    padding: 10px 5px;
}

.buySellWrapper .exchangeInfo span {
    margin: 10px 0px 0px 0px;
    background-color:#142132;
    line-height:12px;
    border-radius:10px 20px 10px 20px;
    width:75%;
}

.buySellWrapper .quantity {
    width:100%;
}

.buySellWrapper .quantityInput {
    width:100%;
    margin:10px 0px 0px 0px;
    display:flex; 
    flex-flow: row nowrap;
    align-items:center;
    justify-content:center;
}

.buySellWrapper .quantityInput button {
    min-width:0;
    width:auto;
    padding: 0px 15px;
    margin:0px 15px;
    font-size:2rem;
    font-weight: bold;
    line-height:30px;
}

.buySellWrapper .modalWrapper {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.5);
    margin:0;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    z-index:4;
}

.buySellWrapper .modal {
    z-index:5;
    border: 3px solid white;
    background-color: #142132;
    border-radius: 20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.buySellWrapper .modal h1 {
    margin:10px 0px;
    font-family:'Fugaz One';
    background-color:#1b3046;
    line-height:20px;
    border-radius:10px 20px 10px 20px;
    width:90%;
}

.buySellWrapper .modal span {
    width:80%;
    margin:20px 0px;
}

.buySellWrapper .modalButtons {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
}

.buySellWrapper .modalButtons button {
    width:auto;
    min-width:0;
    margin: 0px 25px;
}