.collections {
    border: 3px solid white;
    border-radius:5px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:center;
    align-self:flex-start;
    width:25%;
    height:auto;
    max-height:1000px;
    padding:15px 5px;
}

.stockTable {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:center;
    overflow-y:auto;
}

.stockTable hr {
    width:90%;
    border:2px solid white;
    border-radius:20px;
    margin:10px 0px;
}

.stockBox {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    background:linear-gradient(to bottom, #1e695b, transparent);
    border-radius:10px;
    width:85%;
    height:100px;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}

.stockBox h3 {
    font-size:1.5rem;
    font-weight:light;
    margin:0;
}

.stockBox h4 {
    font-size:1.1rem;
    font-weight:light;
    margin:0px 0px 10px 0px;
}

.stockBox span {
    font-size:1rem;
    margin:0;
}

.stockBoxColumn1, .stockBoxColumn2, .stockBoxColumn3 {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:33%;
    height:100%;
}

.stockBoxColumn1 {
    align-items:flex-start;
}

.stockBoxColumn3 {
    align-items:flex-end;
    justify-content:flex-end;
}