.collections {
    border-radius:20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:center;
    align-self:flex-start;
    width:25%;
    height:auto;
    max-height:1150px;
    padding:15px 5px;
}

.collectionsTitle {
    border:3px solid white;
    border-radius: 5px;
    width:100%;
    padding: 20px;
    margin: 0px;
}

.collections h2 {
    font-size:3rem;
    margin:0px;
}

.collections span {
    font-size: 1.1rem;
    margin: 5px 0px;
}

.collections hr {
    border:2px solid white;
    border-radius:9999px;
    margin:10px 0px;
}

.roundDivider {
    border:3px solid white;
    border-radius:20px;
    width:90%;
    margin: 0px 0px 10px 0px;
    padding:3px 0px;
    font-size: 1.2rem;
    font-weight:bold;
    font-family:'Fugaz One';
    background-color:mediumseagreen;
    text-transform:uppercase;
}

.upperDivider {
    border-top:3px solid white;
    border-radius:20px;
    width:85%;
    margin: 0px 0px 0px 0px;
    color:transparent;
    padding:5px 0px;
    font-size: .5rem;
}

.lowerDivider {
    border-bottom:3px solid white;
    border-radius:20px;
    width:85%;
    margin: 0px 0px 20px 0px;
    color:transparent;
    padding:5px 0px;
    font-size: .5rem;
}

.noList {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    align-items:center;
}

.noList span {
    margin:0px;
}

.stockList button {
    margin: 40px 0px 0px 0px;
    border-radius:9999px;
    border:none;
    border:3px solid mediumseagreen;
    background-color:mediumseagreen;
    color:white;
    font-family:'Fugaz One';
    font-size:1.5rem;
    padding:5px 20px;
    transition: all .2s ease-in-out;
}

.stockList button:hover {
    border:3px solid white;
    transition: all .2s ease-in-out;
}

.stockList {
    width:90%;
    max-height:500px;
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:center;
    overflow-y:auto;
    background: radial-gradient(ellipse, #142132 40%, transparent 70%);
    direction: rtl;

    --scrollbar-width: 8px;
    --mask-height: 10px;
    padding:var(--mask-height) 0px;

    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    mask-image: var(--mask-image-scrollbar), var(--mask-image-content);
    mask-size: var(--mask-size-scrollbar), var(--mask-size-content);

    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    scrollbar-width:thin;
    scrollbar-color: rgba(255, 255, 255, 0) transparent;
    transition: all .2s;
}

.stockList:hover {
    scrollbar-color: rgba(255, 255, 255, .3) transparent;
    transition: all .2s;
}

.collections::-webkit-scrollbar-track {
    background:transparent;
}

.collections::-webkit-scrollbar-track-piece:end {
    background:transparent;
    margin-bottom:200px;
}

.collections::-webkit-scrollbar-track-piece:start {
    background:transparent;
    margin-top:200px;
}

.stockTable {
    width:100%;
    margin:0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:center;
    direction:ltr;
}

.styledLink {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:center;
}

.stockTable hr {
    width:10%;
    border:2px solid white;
    border-radius:20px;
    margin:10px 0px;
}

.stockBox {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    border-radius:10px;
    width:85%;
    height:100px;
    padding:10px;
    background:linear-gradient(to bottom, #252533, transparent);
    transition: all .1s;
}

.stockBox:hover {
    transform: scale(1.1);
    transition: all .1s;
}

.negativeStock {
    background:linear-gradient(to bottom, #691e1e, transparent);
}

.positiveStock {
    background:linear-gradient(to bottom, #1e695b, transparent);
}

.stockBox h3 {
    font-size:1.5rem;
    font-weight:light;
    margin:0;
}

.stockBox h4 {
    font-size:1.1rem;
    font-weight:light;
    margin:0px 0px 10px 0px;
}

.stockBox span {
    font-size:1rem;
    margin:0;
    text-align:left;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}

.stockBoxColumn1, .stockBoxColumn2, .stockBoxColumn3 {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:33%;
    height:100%;
}

.stockBoxColumn1 {
    align-items:flex-start;
}

.stockBoxColumn2 {
    align-items:center;
    justify-content:center;
    height:100%;
}

.stockBoxColumn3 {
    align-items:flex-end;
    justify-content:flex-end;
}

.listModalWrapper {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.5);
    margin:0;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    z-index:4;
}

.listModal {
    z-index:5;
    border: 3px solid white;
    background-color: #142132;
    border-radius: 20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    padding:20px;
    width:30%;
}

.listModal h1 {
    margin:10px 0px;
    font-family:'Fugaz One';
    background-color:#1b3046;
    line-height:20px;
    border-radius:10px 20px 10px 20px;
    width:90%;
}

.listModal span {
    width:80%;
    margin:10px 0px;
    font-style:italic;
}

.listModal hr {
    width:90%;
    margin:0;
}

.listModal form {
    width:100%;
}

.listModalButtonsCreate {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items:center;
    margin:10px 0px;
}

.listModalButtonsCreate button {
    background: linear-gradient(to bottom right, mediumseagreen, transparent);
    color: white;
    border:none;
    border-radius:9999px;
    padding:5px 20px;
    width:40%;
    font-family:'Fugaz One';
    font-size:1.5rem;
    transition:all .2s ease-in-out;
}

.listModalButtonsCreate button:hover {
    background: linear-gradient(to bottom right, transparent, mediumseagreen);
    transition:all .2s ease-in-out;
}

.selectedList {
    width:100%;
    height:100px;
    overflow-x:auto;
    overflow-y:hidden;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
}

.listEntry {
    width:40%;
    min-width:40%;
    max-height:100px;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
    border: 3px solid white;
    border-radius:20px;
    padding:10px;
    margin:0px 10px;
}

.listEntry h2 {
    margin:0;
    text-align:left;
    font-size: 1.5rem;
}

.listEntry span {
    margin:0px;
    text-align:left;
    font-size:1rem;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}

.listEntry button {
    background:transparent;
    border:none;
    font-family:'Trebuchet MS';
    font-size:1.5rem;
    font-weight:bold;
    color:white;
    margin:0;
    opacity:1;
    transition:all .2s ease-in-out;
}

.listEntry button:hover {
    opacity:.7;
    transition:all .2s ease-in-out;
}

.listEntryCol1 {
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    justify-content:center;
    width:90%;
}

.listEntryCol2 {
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-end;
    justify-content:center;
    width:10%;
}

.listModalNameSection {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:100%;
}

.listModalNameSection span {
    font-style:none;
}

.listModalNameSection input {
    background:transparent;
    border-radius:5px;
    border:3px solid white;
    font-family:'Trebuchet MS';
    font-size:1.2rem;
    color:white;
    padding:5px 15px;
    margin:0;
    width:60%;
}

.listBox {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    position:relative;
    width:85%;
    height:140px;
    padding:10px;
    margin:10px 0px;
    background:linear-gradient(to bottom, #252533, transparent);
    transition: all .1s;
}

.listBox h2 {
    font-size:1.5rem;
}

.listBox:hover {
    transform: scale(1.05);
    transition: all .1s;
}

.listBoxRow {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.listBox h3 {
    font-size:1.5rem;
    font-weight:light;
    margin:0;
}

.listBox h4 {
    font-size:1.1rem;
    font-weight:light;
    margin:0px 0px 10px 0px;
}

.listBox span {
    font-size:1rem;
    font-weight:bold;
    margin:0;
    text-align:center;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}

.listBoxColumn1, .listBoxColumn2, .listBoxColumn3 {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:33%;
    height:100%;
}

.listBoxColumn1 {
    width:20%;
}

.listBoxColumn2 {
    align-items:center;
    justify-content:center;
    width:40%;
}

.listBoxColumn3 {
    align-items:flex-end;
}

.listBox button {
    position:absolute;
    background-color:mediumseagreen;
    color:white;
    top: 5px;
    right: 5px;
    margin: 0px;
    font-size:1rem;
    padding:0px 3px;
    line-height:1rem;
    border-radius:50%;
    transition: all .2s ease-in-out;
}

.listBox button:hover {
    background-color:white;
    color:mediumseagreen;
}

.modalWrapper {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.5);
    margin:0;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    top:0;
    left:0;
    z-index:4;
}

.modal {
    z-index:5;
    border: 3px solid white;
    background-color: #142132;
    border-radius: 20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    padding:20px;
    width:30%;
}

.modal h1 {
    margin:10px 0px;
    font-family:'Fugaz One';
    background-color:#1b3046;
    line-height:20px;
    white-space:nowrap;
    text-align:center;
    border-radius:10px 20px 10px 20px;
    width:90%;
}

.modal span {
    width:80%;
    margin:20px 0px;
}

.modalButtons {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
}

.modalButtons button {
    width:auto;
    min-width:0;
    margin: 0px 25px;
    background:mediumseagreen;
    border-radius:9999px;
    color: white;
    font-family:'Fugaz One';
    font-weight: bold;
    font-size:1.3rem;
    padding:5px 10px;
    border:3px solid mediumseagreen;
    transition: all .2s ease-in-out;
}

.modalButtons button:hover {
    border:3px solid white;
    transition: all .2s ease-in-out;
}