.footer {
    background-color:#101010;
    width:100%;
    min-height:40px;
    padding:5px;
    z-index:1;
    position:fixed;
    bottom:0;
    box-shadow: 1px -1px 1px #222;
}

ul {
    list-style-type:none;
    font-size:1.2rem;
    padding:5px;
    margin:0;
    width:100%;
}

li {
    opacity: 1;
    transition: all .2s;
}

li:hover {
    opacity:.7;
    transition: all .2s;
}

.trendingCycle {
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:center;
}

.trendingEntry {
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:center;
    padding: 5px 0px;
}

.trendingCycle span {
    white-space: nowrap;
    margin:0px 15px;
    font-size: 1.2rem;
}