.manageLists {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:85%;
    height:auto;
    max-height:1150px;
    padding:0px 10px;
    margin:40px 0px;
    background: linear-gradient(to bottom, #142132 40%, transparent 90%);

}

.manageLists h1 {
    font-family: 'Fugaz One';
    font-size: 3rem;
    text-decoration:underline;
    margin:0;
}

.manageLists hr {
    width:105%;
    border:2px solid white;
    border-radius:9999px;
    margin:0;
}

.noList {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    align-items:center;
}

.noList span {
    margin:0px;
}

.manageLists button {
    margin: 10px 0px 0px 0px;
    border-radius:9999px;
    border:none;
    border:3px solid mediumseagreen;
    background-color:mediumseagreen;
    color:white;
    font-family:'Fugaz One';
    font-size:1.5rem;
    padding:5px 20px;
    transition: all .2s ease-in-out;
}

.manageLists button:hover {
    border:3px solid white;
    transition: all .2s ease-in-out;
}

.manageLists .stockList {
    width:100%;
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    align-items:center;
    overflow-x:auto;

    --scrollbar-width: 8px;
    --mask-height: 50px;
    padding:0px var(--mask-height) 10px 20px;

    --mask-image-content: linear-gradient(
        to right,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: 100% calc(100% - var(--scrollbar-width));
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: 100% var(--scrollbar-width);

    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    mask-position: 0 0, 0 100%;
    mask-repeat: no-repeat, no-repeat;

    scrollbar-width:thin;
    scrollbar-color: rgba(255, 255, 255, 0) transparent;
    transition: all .2s;
}

.manageLists .stockList:hover {
    scrollbar-color:rgba(255,255,255,0.3) transparent;
    transition:all .5s .1s;
}

.manageLists::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.manageLists::-webkit-scrollbar-thumb {
    background-color:white;
    border-radius: 9999px;
}

.manageLists::-webkit-scrollbar-track {
    background-color:transparent;
}

.manageLists .stockTable {
    min-width:360px;
    width:25%;
    margin:0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:center;
    direction:ltr;
}

.manageLists .styledLink {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:center;
}

.manageLists .stockTable hr {
    width:10%;
    border:2px solid white;
    border-radius:20px;
    margin:10px 0px;
}

.negativeStock {
    background:linear-gradient(to bottom, #691e1e, transparent);
}

.positiveStock {
    background:linear-gradient(to bottom, #1e695b, transparent);
}

.manageLists .listModalWrapper {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.5);
    margin:0;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    z-index:4;
}

.manageLists .listModal {
    z-index:5;
    border: 3px solid white;
    background-color: #142132;
    border-radius: 20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    padding:20px;
    width:30%;
}

.manageLists .listModal h1 {
    margin:10px 0px;
    font-family:'Fugaz One';
    background-color:#1b3046;
    line-height:20px;
    border-radius:10px 20px 10px 20px;
    width:90%;
}

.manageLists .listModal span {
    width:80%;
    margin:10px 0px;
    font-style:italic;
}

.manageLists .listModal hr {
    width:90%;
    margin:0;
}

.manageLists .listModal form {
    width:100%;
}

.manageLists .listModalButtonsCreate {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items:center;
    margin:10px 0px;
}

.manageLists .listModalButtonsCreate button {
    background: linear-gradient(to bottom right, mediumseagreen, transparent);
    color: white;
    border:none;
    border-radius:9999px;
    padding:5px 20px;
    width:40%;
    font-family:'Fugaz One';
    font-size:1.5rem;
    transition:all .2s ease-in-out;
}

.manageLists .listModalButtonsCreate button:hover {
    background: linear-gradient(to bottom right, transparent, mediumseagreen);
    transition:all .2s ease-in-out;
}

.manageLists .selectedList {
    width:100%;
    height:100px;
    overflow-x:auto;
    overflow-y:hidden;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    align-items:center;
}

.manageLists .listEntry {
    width:40%;
    min-width:40%;
    max-height:100px;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
    border: 3px solid white;
    border-radius:20px;
    padding:10px;
    margin:0px 10px;
}

.manageLists .listEntry h2 {
    margin:0;
    text-align:left;
    font-size: 1.5rem;
}

.manageLists .listEntry span {
    margin:0px;
    text-align:left;
    font-size:1rem;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}

.manageLists .listEntry button {
    background:transparent;
    border:none;
    font-family:'Trebuchet MS';
    font-size:1.5rem;
    font-weight:bold;
    color:white;
    margin:0;
    opacity:1;
    transition:all .2s ease-in-out;
}

.manageLists .listEntry button:hover {
    opacity:.7;
    transition:all .2s ease-in-out;
}

.manageLists .listEntryCol1 {
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    justify-content:center;
    width:90%;
}

.manageLists .listEntryCol2 {
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-end;
    justify-content:center;
    width:10%;
}

.manageLists .listModalNameSection {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:100%;
}

.manageLists .listModalNameSection span {
    font-style:none;
}

.manageLists .listModalNameSection input {
    background:transparent;
    border-radius:5px;
    border:3px solid white;
    font-family:'Trebuchet MS';
    font-size:1.2rem;
    color:white;
    padding:5px 15px;
    margin:0;
    width:60%;
}

.manageLists .listBox {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    position:relative;
    width:85%;
    height:140px;
    padding:10px;
    margin:10px 0px;
    background-color:#141d32af;
    border:2px solid mediumseagreen;
    box-shadow: 0px 0px 5px mediumseagreen;
    transition: all .1s;
}

.manageLists .listBox h2 {
    font-size:1.5rem;
}

.manageLists .listBox:hover {
    transform: scale(1.05);
    transition: all .1s;
}

.manageLists .listBoxRow {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.manageLists .listBox h3 {
    font-size:1.5rem;
    font-weight:light;
    margin:0;
}

.manageLists .listBox h4 {
    font-size:1.1rem;
    font-weight:light;
    margin:0px 0px 10px 0px;
}

.manageLists .listBox span {
    font-size:1rem;
    font-weight:bold;
    margin:0;
    text-align:center;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}

.manageLists .listBoxColumn1, .manageLists .listBoxColumn2, .manageLists .listBoxColumn3 {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    width:33%;
    height:100%;
}

.manageLists .listBoxColumn1 {
    width:20%;
}

.manageLists .listBoxColumn2 {
    align-items:center;
    justify-content:center;
    width:40%;
}

.manageLists .listBoxColumn3 {
    align-items:flex-end;
}

.manageLists .listBox button {
    position:absolute;
    background-color:mediumseagreen;
    color:white;
    top: 5px;
    right: 5px;
    margin: 0px;
    font-size:1rem;
    padding:0px 3px;
    line-height:1rem;
    border-radius:50%;
    transition: all .2s ease-in-out;
}

.manageLists .listBox button:hover {
    background-color:white;
    color:mediumseagreen;
}

.manageLists .modalWrapper {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.5);
    margin:0;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    top:0;
    left:0;
    z-index:4;
}

.manageLists .modal {
    z-index:5;
    border: 3px solid white;
    background-color: #142132;
    border-radius: 20px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    padding:20px;
    width:30%;
}

.manageLists .modal h1 {
    margin:10px 0px;
    font-family:'Fugaz One';
    background-color:#1b3046;
    line-height:20px;
    white-space:nowrap;
    text-align:center;
    border-radius:10px 20px 10px 20px;
    width:90%;
}

.manageLists .modal span {
    width:80%;
    margin:20px 0px;
}

.manageLists .modalButtons {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
}

.manageLists .modalButtons button {
    width:auto;
    min-width:0;
    margin: 0px 25px;
    background:mediumseagreen;
    border-radius:9999px;
    color: white;
    font-family:'Fugaz One';
    font-weight: bold;
    font-size:1.3rem;
    padding:5px 10px;
    border:3px solid mediumseagreen;
    transition: all .2s ease-in-out;
}

.manageLists .modalButtons button:hover {
    border:3px solid white;
    transition: all .2s ease-in-out;
}