.newsMain {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}

.newsMain hr {
    border:3px solid white;
    border-radius:9999px;
    width:40%;
}

.newsArticles {
    width:95%;
    margin:10px 0px;
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:center;
    overflow-x:auto;
    
    --scrollbar-width: 8px;
    --mask-height: 30px;
    padding:0px var(--mask-height) 10px var(--mask-height);

    --mask-image-content: linear-gradient(
        to right,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: 100% calc(100% - var(--scrollbar-width));
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: 100% var(--scrollbar-width);

    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    mask-position: 0 0, 0 100%;
    mask-repeat: no-repeat, no-repeat;

    scrollbar-width:thin;
    scrollbar-color:white transparent;

}

.newsMain::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.newsMain::-webkit-scrollbar-thumb {
    background-color:white;
    border-radius: 9999px;
}

.newsMain::-webkit-scrollbar-track {
    background-color:transparent;
}

.articleBox {
    border-radius:10px;
    width:350px;
    height:350px;
    padding:10px;
    margin:10px;
    background-color:#142132;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:space-between;
    box-shadow:2px 2px 5px #171718;
    position:relative;
}

.articleBox img {
    max-height:150px;
    width:auto;
    margin:0px 0px 10px 0px;
    border-radius:10px;
}

.articleBox .horizontalLine {
    margin:0px;
    position:absolute;
    bottom:55px;
    width:30%;
    border-top:2px solid white;  
}

.articleInfo {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:flex-start;
    background-color:#182a3f;
    width:100%;
    padding:0px 5px;
    border-radius:10px;
    height:155px;
}

.headlineContainer {
    width:350px;
    background-color:#1b3046;
    border:3px solid white;
    border-radius:5px;
    padding:5px;
    border-bottom:3px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.articleInfo h3 {
    font-family: 'Lato';
    font-size:1.2rem;
    font-weight:light;
    width:95%;
    margin:0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}

.articleBox h4 {
    font-family: 'Lato';
    font-size:1rem;
    font-weight:italic;
    margin:10px 0px 0px 0px;
    background-color:#182a3f;
    border-radius: 10px;
    min-width:70%;
    padding: 0px 0px 5px 0px;
}

.articleInfo span {
    font-size:1rem;
    font-family:'Lato';
    margin:10px 0px 0px 0px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}