* {
    box-sizing:border-box;
  }
  
  body {
    font-family:'Trebuchet MS';
    font-size:1.5em;
    text-align:center;
    background-color:#1b3046;
    color:white;
    padding:0;
    margin:0;
    height:100%;
    display:flex;
    flex-direction:column nowrap;
    justify-content:center;
  }
  
  h1 {
    margin:20px 0px;
    font-size:2.3em;
    text-shadow: 2px 2px 10px #242425;
  }
  
  h2 {
    margin:15px 0px;
    font-size:2em;
    text-shadow: 2px 2px 10px #242425;
  }
  
  ul {
    list-style-type:none;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    margin:0;
  }
  
  li {
    display:inline-block;
    margin-left:10%;
    margin-right:10%;
    font-size:1em;
  }
  
  a, a:visited {
    text-decoration:none;
    cursor: pointer;
    color:white;
  }
  
  a:hover, a:active {
    text-decoration:underline;
  }
  
  nav {
    background-color:#2e4766;
    position:fixed;
    top:0;
    width:100%;
    height:auto;
    padding:7px;
    margin:0;
    z-index:10;
    box-shadow: 0px 2px 10px #242425;
  }
  
  input {
    border:3px solid white;
    color:white;
    background-color:#2e4766;
    border-radius:5px;
    width:40%;
    height:40px;
    padding:10px;
    margin:10px;
    box-shadow: 4px 4px 5px #242425;
    font-family:'Trebuchet MS';
  }
  
  .scrollable {
    overflow-y:hidden;
    flex:auto;
    width:100%;
    max-width:1750px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:30px;
    padding:20px;
    box-shadow:0px 0px 50px #1e695b;
  }
  
  .snapshot {
    width:75%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
  }
  
  .mainGraph {
    width:100%;
    height:auto;
  }
  
  .mainStocks {
    width:80%;
    border:3px solid white;
    border-radius:5px;
    height:20%;
    margin-top:10px;
  }
  
  .mainNews {
    width:100%;
    border:3px solid white;
    border-radius:5px;
    height:40%;
    margin-top:10px;
  }
  
  .mainContainer {
    display:flex;
    height:1650px;
    width:100%;
  }
  
  .mainContainer hr {
    width:40%;
    border:2px solid white;
    border-radius:20px;
  }
  
  .collections {
    width:24%;
    height:100%;
    border:3px solid white;
    border-radius:5px;
    padding:10px;
    margin: 0px 10px;
  }
  
  .stockMenu {
    padding:10px;
    width:30%;
  }
  
  .browseContainer {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    width:100%;
    height:1700px;
    padding:10px;
  }
  
  .trending {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    height:35%;
  }
  
  .browseMain {
    padding:10px;
    width:70%;
    height:100%;
    margin:5px;
    border:3px solid white;
    border-radius:5px;
  }
  
  .categories {
    width:100%;
    border:3px solid white;
    border-radius:5px;
    padding:10px;
    height:800px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:space-around;
    width:100%;
    height:auto;
  }
  
  .categories table {
    width:100%;
    padding:10px;
  }
  
  .categories td {
    margin:10px;
  }
  
  .box {
    width:200px;
    height:200px;
    background-color:#2e4766;
    box-shadow:2px 2px 10px #242425;
    border-radius:4px;
    display:inline-block;
    margin:10px;
    opacity:1;
    transition:all .2s;
  }
  
  .box:hover {
    opacity:0.7;
    transition: all .2s;
  }
  
  .top {
    width:29%;
    height:100%;
    border:3px solid white;
    border-radius:5px;
    padding:10px;
    margin:5px;
  }
  
  .browseNews {
    width:100%;
    border:3px solid white;
    border-radius:5px;
    padding:10px;
    height:25%;
    text-align:left;
  }
  
  .assetsMain {
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    height:1350px;
    width:100%;
  }
  
  .infoRow {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    height:35%;
    margin:10px;
  }
  
  .graphSection {
    border-radius:5px;
    width:100%;
    height:700px;
    background-color:#1b3046;
    background-image: radial-gradient(ellipse, #1e695b, transparent 70%);
    color:white;
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items:center;
  }
  
  .buttonSection {
    display:flex;
    flex-flow: row wrap;
    height:4%;
    width:85%;
    justify-content:space-between;
    align-items:flex-end;
    z-index:1;
    margin-bottom:25px;
    margin-top:0;
  }
  
  .rangeButtons {
    width:auto;
    max-width:31%;
    height:50px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    overflow-x:auto;
    margin: 0px 1%;
  }
  
  .stockButtons {
    width:auto;
    max-width:34%;
    height:50px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    overflow-x:auto;
    border-radius:20px;
  }
  
  .rangeButtons input, .stockButtons input {
    display:none;
  }
  
  .rangeButtons label{
    width:auto;
    height:auto;
    background-color: #2e4766;
    border:3px solid white;
    color:white;
    border-radius:5px;
    font-size:.7em;
    padding:3px;
    margin:0px 3px;
    opacity:1;
    transition: opacity .2s;
    box-shadow: 1px 1px 10px #242425;
  }
  
  .stockButtons label {
    width:auto;
    height:auto;
    background-color: transparent;
    border:3px solid white;
    color:white;
    border-radius:20px;
    font-size:.7em;
    padding:3px;
    margin:0px 3px;
    opacity:1;
    transition: opacity .2s;
    box-shadow: 1px 1px 10px #242425;
  }
  
  .rangeButtons label:hover, .rangeButtons label:active {
    opacity:.5;
    transition: opacity .2s;
  }
  
  .stockButtons label:hover, .stockButtons label:active {
    opacity:.5;
    transition: opacity .2s;
  }
  
  .assetsGraph {
    width:100%;
    height:700px;
  }
  
  .assetsStocks {
    width:73%;
    border:3px solid white;
    border-radius:5px;
    padding:10px;
    height:100%;
  }
  
  .sell {
    width:25%;
    height:100%;
    border:3px solid white;
    border-radius:5px;
    padding:10px;
  }
  
  .collections {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    background-color:#1b3046;
  }
  
  .collections hr {
    width:90%;
    border:2px solid white;
    border-radius:20px;
  }
  
  .listBlock {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    background:linear-gradient(to bottom, #1e695b, transparent);
    border-radius:10px;
    width:90%;
    height:100px;
    padding:10px;
  }
  
  .listCol1, .listCol2 {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    height:100%;
  }
  
  .listCol1 {
    align-items:flex-start;
    width:35%;
  }
  
  .listCol2 {
    align-items:flex-end;
    width:35%;
    padding:2%;
  }
  
  .listGraphCol {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    align-items:center;
    width:30%;
    height:100%;
  }
  
  .listNumbers {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-end;
    align-items:center;
    width:100%;
  }
  
  .listName, .listFullName {
    text-align:left;width:100%;height:45%;
    text-shadow: 2px 2px 10px #242425;
  }
  
  .listPrice, .listPerformance, .listGraph {
    text-align:right;
    text-shadow: 2px 2px 10px #242425;
  }
  
  .listFullName {
    font-size:.7em;
  }
  
  .listPerformance {
    font-size:.85em;
    width:100%;
  }
  
  .listPrice {
    font-size:1em;
    margin-top:2%;
    width:100%;
  }
  
  .listGraphTitle {
    font-size:.7em;
    height:10%;
  }
  
  .listGraph {
    z-index:2;
    width:100%;
    height:85%;
  }
  
  .stockPageMain {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:1000px;
    margin:5% 0%;
  }
  
  .stockPageTop {
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
    width:100%;
    height:700px;
  }
  
  .stockTopLeft {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:center;
    width:75%;
  }
  
  .stockPageGraph {
    width:100%;
    height:600px;
  }
  
  .buy {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    align-items:center;
    width:23%;
    border:3px solid white;
    border-radius:10px;
    height:85%;
    padding:10px;
    margin:0px 20px;
    background-image: linear-gradient(180deg, #1e695b, transparent);
    box-shadow:0px 0px 50px #1e695b;
    align-self:flex-start;
  }
  
  .buy hr {
    width:70%;
    border:2px solid white;
    border-radius:20px;
  }
  
  .buy button {
    background-color:transparent;
    width:fit-content;
    color:white;
    border:3px solid white;
    font-family:'Trebuchet MS';
    font-size:1em;
    border-radius: 40px;
    padding:10px;
    box-shadow: 4px 4px 5px #242425;
    transition: all .2s;
  }
  
  .buy button:hover {
    background-color: mediumseagreen;
    transition: all .2s;
  }
  
  .buy p {
    font-size:1.5em;
    font-weight:bold;
    text-shadow: 4px 4px 5px #242425;
    margin:0;
  }
  
  .buy span {
    font-size:1.2em;
    text-shadow: 4px 4px 5px #242425;
    margin:0;
  }
  
  .buy input {
    text-align:center;
    font-size:1.3em;
    height:auto;
    width:20%;
    background-color:transparent;
    border:none;
    box-shadow:none;
    text-shadow: 4px 4px 5px #242425;
  }
  
  .buyItem {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    width:80%;
  }
  
  .purchaseSelector button {
    border:none;
    box-shadow:none;
    width:fit-content;
    height:fit-content;
    text-shadow:4px 4px 5px #242425;
    opacity:1;
    transition:opacity .2s;
    font-size:1.8em;
  }
  
  .purchaseSelector button:hover {
    background-color:transparent;
    opacity:.5;
    transition:opacity .2s;
    text-decoration:none;
  }
  
  .purchaseSelector {
    display:flex;
    flex-flow:row nowrap;
    width:100%;
    justify-content:space-around;
    align-items:center;
    padding:10px;
    margin:20px 0px;
  }
  
  .purchaseWidget {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
  }
  
  .stockInfo {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:space-around;
    width:80%;
    height:290px;
    text-shadow:4px 4px 5px #242425;
    margin:0;
    background-image: linear-gradient(to bottom, #1e695b, transparent 65%);
  
  }
  
  .stockPageMain hr {
    width:82%;
    border:2px solid white;
    border-radius:20px;
    margin-top:5%;
    margin-bottom:0;
  }
  
  .stockTopLeft hr {
    width:30%;
    margin:0;
  }
  
  .stockInfo h2 {
    text-decoration:underline;
    margin-top:10px;
    margin-bottom:30px;
  }
  
  .stockInfo table {
    width:90%;
    height:65%;
    border-collapse:collapse;
  }
  
  .stockInfo th {
    width:20%;
    height:32%;
    text-align:right;
    margin:30px 0px;
  }
  
  .stockInfo td {
    width:30%;
    text-align:center;
  }