.searchBox {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    position:relative;
}

.searchBox input {
    border:3px solid white;
    border-radius:20px;
    padding: 5px 10px;
    margin:10px 0px;
    background-color:#2e4766;
    color:white;
    width:30%;
    box-shadow: 4px 4px 5px #242425;
    font-family:'Trebuchet MS';
    font-size:1rem;
    z-index:2;
}

.searchResultsBox {
    position: absolute;
    top:30px;
    width:28%;
    max-height:600px;
    padding:20px 10px 10px 10px;
    border:2px solid white;
    border-radius:0px 0px 20px 20px;
    background-color:#142132;
    z-index:1;
    overflow:auto;
}

.searchResultsBox hr {
    border: 2px solid #182a3f;
    width:75%;
}

.searchResult {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    margin:10px 0px;
    border-radius:20px;
    padding: 10px 10px;
}

.searchResult:hover {
    opacity:0.7;
}

.searchResult h2 {
    font-size:1.8rem;
    margin:0px;
}

.searchResult h3 {
    font-size:1.2rem;
    margin:0px;
    font-weight:light;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}

.negativeSearch {color:red;}
.positiveSearch {color:green;}

.searchResultColLeft, .searchResultColRight {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
}

.searchResultColLeft {
    align-items:flex-start;
    width:60%;
    text-align:left;
}
.searchResultColRight {
    align-items:flex-end;
    width:40%;
    text-align:right;
}