.stockSelectorContainer {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    max-width:80%;
    padding:0;
    background: linear-gradient(to right, transparent 0%, #142132 30%, #142132 70%, transparent 100%);
}

.stockSelectorContainer hr {
    width:100%;
    margin:0px 0px;
}

.stockSelector {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:center;
    overflow-x:auto;
    width:100%;

    --scrollbar-width: 12px;
    --mask-height: 30px;
    padding:0px var(--mask-height) 5px var(--mask-height);

    --mask-image-content: linear-gradient(
        to right,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-image-scrollbar: linear-gradient(black, black);

    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: 100% 100%, 100% 0;

    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    scrollbar-width:thin;
    scrollbar-color:transparent transparent;

    transition: all .5s .1s;
}

.stockSelector:hover {
    scrollbar-width:thin;
    scrollbar-color:rgba(255, 255, 255, 0.3) transparent;
    transition: all .5s .1s;
}

.stockSelector button {
    border:2px solid white;
    border-radius:20px;
    background-color: #142132;
    color: white;

    border:3px solid white;
    font-size:1.2rem;
    font-weight:bold;
    padding:5px 10px;
    margin:0px 5px;
    opacity:1;
    transition: all .2s;
    box-shadow: 1px 1px 10px #242425;
}

.stockSelector button:hover {
    opacity:.7;
    transition: all .2s;
}

.stockSelector .selected {
    background-color: mediumseagreen;
}