.userInfoWrapper {
    border: 5px solid mediumseagreen;
    background-color: #142132;
    /*background:linear-gradient(to bottom right, rgba(60, 179, 114, 0.501), #142132 45%, #142132 55%, rgba(60, 179, 114, 0.501));*/
    background:linear-gradient(to bottom, rgba(60, 179, 114, 0.501), #142132 70%, rgba(60, 179, 114, 0.048));
    box-shadow: 0px 0px 10px mediumseagreen;
    border-radius:20px;
    padding:10px;
    width:75%;
    position:relative;
    margin:25px 0px
}

.userTitle {
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    padding:10px 20px;
}

.userTitleImage {
    width:18%;
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:center;
}

.userTitleImage img {
    width:100%;
    border-radius:50%;
    /*border:5px solid white;*/
    box-shadow:0px 10px 5px #171822;
}

.userTitleText {
    width:50%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    background-color:transparent;
    border-radius:10px 50px 10px 50px;
    padding:20px;
}

.userTitleText h2 {
    font-size:4rem;
    letter-spacing:1.3rem;
    line-height:1rem;
    text-transform:uppercase;
    font-family:'Fugaz One';
    width:auto;
    padding:10px;
    margin:10px 0px;
    border-radius:10px 20px 10px 20px;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 10px mediumseagreen;
    background-color:#1b3046;
}

.userTitleText h3 {
    width:auto;
    font-family:'Fugaz One';
    text-transform: uppercase;
    letter-spacing:0.3rem;
    font-size:1.7rem;
    padding:0px 10px;
    margin:5px 0px 0px 0px;
}

.userTitleText span {
    width:auto;
    font-family:'Fugaz One';
    text-transform: uppercase;
    font-size:1rem;
    padding:0px 10px;
    margin:0px 0px 5px 0px;
}

.userTitleText hr {
    width:100%;
    border:3px solid white;
    border-radius:20px;
    margin:15px 0px;
}

.userInfoBio {
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
}

.userInfoBioLocation {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:275px;
    left:80px;
}

.userInfoBioLocation span {
    font-size:1.2rem;
}

.userInfoBioDescriptionText {
    border-radius:20px;
    border:2px solid mediumseagreen;
    background:linear-gradient(to right, rgba(60, 179, 114, 0.101), transparent 90%);
    padding:5px 3px;
    width:25%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:center;
    position:absolute;
    bottom:10px;
    left:10px;
}

.userInfoBioDescriptionText hr {
    width:70%;
    margin:0px 0px 5px 0px;
    border:2px solid white;
    border-radius:20px;
}

.userInfoBioDescriptionText span {
    font-family:'Fugaz One';
    text-decoration:underline;
    width:10%;
    text-align:left;
    margin:0;
    font-size:1.2rem;
}

.userInfoBioDescriptionText h4 {
    margin:0;
    text-align:center;
    width:90%;
    font-size:1.1rem;
}
  
.userInfo {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    margin:30px 0px 70px 0px;
}

.userInfoHeader {
    width:70%;
    padding:25px;
    /*background: linear-gradient(to bottom, #142132, transparent);*/
    background-color:#14213266;
    border-radius:20px;
    border-top:3px solid white;
    border-bottom:3px solid white;
    position:absolute;
    top:300px;
    right:30px;
}

.userInfoHeader h1 {
    margin:0;
    background-color:#1b3046;
    border: 2px solid transparent;
    border-radius: 10px 20px 10px 20px;
    line-height:20px;
    width:auto;
    text-transform:uppercase;
    font-family: 'Fugaz One';
    font-size:2.7rem;
    text-shadow:0px 0px 5px black;
    /*box-shadow: 0px 0px 5px mediumseagreen;*/

}
  
.userInfoSub {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:flex-end;
    background-color:#14213266;
    padding:10px;
    border-radius:20px;
    width:22%;
    position:absolute;
    top:20px;
    right:20px;
}

.userInfoSub span {
    font-family:'Fugaz One';
    font-size:1.4rem;
    line-height:1.2rem;
    margin:5px 0px;
    padding:0;
    font-weight:light;
    text-transform:uppercase;
    border-bottom:3px solid white;

}

.userInfoSub h4 {
    margin:0px 0px 15px 0px;
}